name: Run Backend Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    environment: Testing

    env:
      SMTP_PASS: ${{ secrets.SMTP_PASS }}
      JWT_EXPIRES_IN: ${{ vars.JWT_EXPIRES_IN }}
      SMTP_FROM: ${{ vars.SMTP_FROM }}
      SMTP_HOST: ${{ vars.SMTP_HOST }}
      SMTP_PORT: ${{ vars.SMTP_PORT }}
      SMTP_SECURE: ${{ vars.SMTP_SECURE }}
      SMTP_USER: ${{ vars.SMTP_USER }}
      
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
    
      - name: Install deps
        run: npm install

      - name: Run Make Test
      
        run: make test
